{% extends 'base.html.twig' %}

{% block title %}Détail d'une formation{% endblock %}

{% block body %}
    <h1>Détail d'une formation</h1>

    <h2>{{formation.nomFormation}}</h2>
    

{% endblock %}