{% extends 'base.html.twig' %}

{% block title %}Détail d'une formation{% endblock %}

{% block body %}

<a href="{{path('app_formation')}}">Retour aux formations</a>

    <h1>Détail de la formation {{formation.nomFormation}}</h1>

    <h2>{{formation.nomFormation}}</h2>
    
    <h3>Formateur(ice) référent(e) :</h3>

{% endblock %}