{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
    {% for session in sessions %}
        <a href="{{path('show_session', {'id' : session.id})}}">{{session.titre}}</a><br>
    {% endfor %}
{% endblock %}
