{% extends 'base.html.twig' %}

{% block title %}Détail d'une session{% endblock %}

{% block body %}
    <h1>Détail d'une session</h1>

    <h2>{{session}}</h2><br>
    
    <h3>Stagiaires inscrits : </h3><br>

    {% for stagiaires in session.stagiaires %}
        <a href="{{path('show_stagiaire', {'id' : stagiaires.id})}}">{{stagiaires}}</a><br>
    {% endfor %}<br>

    <h4>Stagiaires non inscrits :</h4><br>


    <h5>Programme :</h5><b>

        {% for programmes in session.programmes %}
            {{programmes}}
        {% endfor %}

{% endblock %}