{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!{% endblock %}

{% block body %}

    {% for module in modules %}
        <a href="{{path('show_module', {'id' : module.id})}}">{{module.nomModule}}</a><br>
    {% endfor %}

{% endblock %}
