{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}

    {% for categorie in categories %}
        <a href="{{path('show_categorie', {'id' : categorie.id})}}">{{categorie.nomCategorie}}</a><br>
    {% endfor %}
{% endblock %}
