{% extends 'base.html.twig' %}

{% block title %}Ajouter une catégorie{% endblock %}
{% block meta_description %}Ajouter une catégorie{% endblock %}

{% block body %}

<div class="container">
        {% if edit %}
            <h1>Editer une catégorie</h1>
        {% else %}
            <h1>Ajouter une catégorie</h1>
        {% endif %}
        {{ form_start(formAddCategorie) }}
    
            {{ form_row(formAddCategorie.nomCategorie)}}   
            {{ form_row(formAddCategorie.valider)}}
    
        {{ form_end(formAddCategorie) }}
    </div>

{% endblock %}