{% extends 'base.html.twig' %}

{% block title %}Détails d'une catégorie{% endblock %}

{% block body %}
    <h1>Détails d'une catégorie</h1>

    <h2>{{categorie.nomCategorie}}</h2>
    

{% endblock %}