{% extends 'base.html.twig' %}

{% block title %}Hello FormateurController!{% endblock %}

{% block body %}

    {% for formateur in formateurs %}
    <a href="{{path('show_formateur', {'id' : formateur.id})}}">{{formateur.prenom}}</a><br>
    {% endfor %}
{% endblock %}
