{% extends 'base.html.twig' %}

{% block title %}Editer user{% endblock %}
{% block meta_description %}Editer user{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Modifier vos informations</h1><br>

        {{form(form)}}
        
    </div>

{% endblock %}