{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div class="container">
        <h1>Mon profil</h1><br>
    
        <h2>Mes informations personnelles</h2><br>
        <p>Nom</p><br>
        <p>Prenom</p><br>
        <p>Courriel</p><br>

        <h3>Mes sessions en cours</h3><br>

        <h4>Mes sessions passées</h4><br>
    </div>

{% endblock %}
